# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual environments
.venv/
env/
venv/

# Editor/IDE
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
